@keyframes gunOcAnim{
  0% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes gun{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
a{
  text-decoration: none;
  color: inherit;
}
*{
  font-family: 'Open Sans', sans-serif;
}
body{
  margin: 0;
  margin-top: 4.5em;
  background-color: rgb(20, 20, 20);
  -webkit-tap-highlight-color: transparent;
}
.bg{
  width: 100%;
  height: 40em;
  overflow: hidden;
  position: relative;
  z-index: -100;
}
.bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: inherit;
}
.gun{
  position: absolute;
  top: 0;
  animation: gun 20s none infinite;
}
.gunOc{
  position: absolute;
  top: 0;
  animation: gunOcAnim   20s none infinite;
}












.header{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(20, 20, 20);
  top: 0px;
  height: 4.5em;
  width: 100%;
  font-weight: 400;
  z-index: 1000;
}
.logo{
  display: flex;
  width: 8em;
  height: 2em;
  margin-left: 1.5em;
}
.logo img{
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.menu{
  display: none;
  list-style: none;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.header li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  user-select: none;
  cursor: pointer;
}
.spacer{
  height: 0.2em;
  width: 100%;
}
.line{
  height: 0.2em;
  width: 100%;
  background-color: white;
  opacity: 0;
  transition-duration: 0.5s;
}
.addB, .artB, .tutB, .contB, .donB{
  display: flex;
  color: white;
  text-wrap: nowrap;
  font-size: 1.3em;
  align-self: center;
  overflow: hidden;
  transition-duration: 0.5s;
}
.addLi:hover .addB, .artLi:hover .artB, .tutLi:hover .tutB, .contLi:hover .contB, .donLi:hover .donB{
  color: #0099ff;
  font-size: 1.8em;
  transition-duration: 0.5s;
}
.addLi:hover .line, .artLi:hover .line, .tutLi:hover .line, .contLi:hover .line, .donLi:hover .line{
  background-color: #0099ff;
  opacity: 1;
  transition-duration: 0.5s;
}
.list{
  display: none;
  margin-right: 1.5em;
  width: 15%;
  min-width: 3em;
  max-width: 3em;
  height: 100%;
}
.listB{
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
}
.listB .listRec{
  height: 0.5em;
  width: 100%;
  border-radius: 0.5em;
  background-color: #ffffff;
}
.listMenu{
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  top: 4.5em;
  right: 0em;
  width: 100%;
  height: 30em;
  background-color: rgb(20, 20, 20);
  margin: 0;
}
.listMenu [class*="Li"]{
  justify-content: center;
}
.social{
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 10em;
  height: 1.5em;
  margin-right: 1.5em;
  max-width: 10em;
}





.banner{
  display: flex;
  top: 4.5em;
  width: 100%;
  height: 20em;
  background: linear-gradient(to bottom, rgb(20, 20, 20), rgba(20, 20, 20, 0)); /* Adjust colors and direction */
  position: absolute;
}
.gridI{
  display: grid;
  height: 100%;
  grid-gap: 4em 1.5em; /* Gap between grid items */
  padding: 1.5em;
  color: white;
  text-align: right;
  background-color: rgb(32, 32, 32);
}
.gridE, .gridELast{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.gridELast{
  grid-column: span 1;
}
.gridE iframe, .gridELast iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  z-index: 1;
}
.gridE .p{
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  text-align: center;
  vertical-align: center;  
  top: 0;
  left: 0;
  width: 100%; 
  height:100%; 
  padding:0;
  margin:0;
}

.gridE .p p{
  font-size: 1.5em;
  font-weight: 300;
}
@media screen and (min-width:55em) {
  .gridI {
    grid-template-columns: repeat(2, 1fr);
  }
  .gridELast{
    grid-column: span 2;
  }
}
@media screen and (max-width:66em) {
  .gridE .p p{
    font-size: 1em;
    font-weight: 300;
  }
}
@media screen and (max-width:55em) {
  .gridE .p p{
    font-size: 1.5em;
    font-weight: 300;
  }
}
@media screen and (max-width:42em) {
  .gridE .p p{
    font-size: 1em;
    font-weight: 300;
  }
}
@media screen and (max-width:22em) {
  .gridE .p p{
    font-size: 0.7em;
    font-weight: 300;
  }
}








.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(20, 20, 20);
  color:white;
  padding: 2em;
  margin-bottom: 2em;
  height: 20em;
  z-index: 100;
}
.socialBot{
  display: flex;
  justify-content: space-between;
  height: 1.8em;
  width: 20em;
  max-width: 100%;
}
.gumroad, .artstation, .youtube, .twitter, .sketchfab{
  transition-duration: 0.5s;
  height: 100%;
}

.gumroad:hover svg > #fill{
  fill: #ff90e7;
  transition-duration: 0.3s;
}
.artstation:hover svg > #fill{
  fill: #00B3EC;
  transition-duration: 0.3s;
}
.youtube:hover svg > #fill{
  fill: #FF2F00;
  transition-duration: 0.3s;
}
.youtube:hover svg > #fill2{
  fill: white;
  transition-duration: 0.3s;
}
.twitter:hover svg > #fill{
  fill: #00A3ED;
  transition-duration: 0.3s;
}
.sketchfab:hover svg > #fill{
  fill: white;
  transition-duration: 0.3s;
}
.sketchfab:hover svg > #fill2{
  fill: #00ABD3;
  transition-duration: 0.3s;
}
.contactUs{
  font-size: 1em;
  text-align: center;
}
.copyRights{
  font-size: 1em;
  text-align: center;
}

@media screen and (min-width:0em) {
  .list{
    display: flex;
  }
}
@media screen and (min-width:22em) {
  .footer{
    height: 15em;
  }
}
@media screen and (min-width:42em) {
  .menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 0;
    max-width: 30em;
    margin-right: 1.5em;
  }
  .list{
    display: none;
  }
}
@media screen and (min-width:55em) {
  .menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 0;
    max-width: 30em;
    margin-right: 0;
  }
  .social{
    display: flex;
  }
  .list{
    display: none;
  }
}